<a href="https://colab.research.google.com/github/kittisaktaoma/colab_practice/blob/master/concatenate_feature.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [26]:
import pandas as pd

#Feature

In [27]:
data = [["A",'B',"C","D"],[1,2,3,4],[5,6,7,8],[9,10,11,12]]
data_df = pd.DataFrame(data,index=['drug','feature_1','feature_2','feature_3']).T
data_df

  drug feature_1 feature_2 feature_3
0    A         1         5         9
1    B         2         6        10
2    C         3         7        11
3    D         4         8        12

#Drug-pair index

In [28]:
data_02 = [["A",'B',"C","D"],["B",'A',"D","C"]]
example_combination = pd.DataFrame(data_02,index=['drug_1','drug_2']).T
example_combination

  drug_1 drug_2
0      A      B
1      B      A
2      C      D
3      D      C

In [29]:
newDF_prot = pd.DataFrame()

for i in range(example_combination.shape[0]):
  print(i)
  
  """
  get drug pair index
  """

  index_drug = example_combination.iloc[example_combination.shape[0]-1-i,:2].tolist()

  """
  get feature of drug_1 and drug_2
  """

  drug_1 = data_df[data_df.drug == index_drug[0]].rename(columns={'drug': 'drug_1'})
  drug_2 = data_df[data_df.drug == index_drug[1]].rename(columns={'drug': 'drug_2'})
  

  """
  combine feature between drug_1 and drug_2
  """

  combine_df = pd.concat([drug_1.reset_index(drop=True),drug_2.reset_index(drop=True)],axis=1)

  combine_df_sorted = combine_df.sort_index(axis=1).iloc[:,:988]
    
  """
  Append to new dataframe
  """
  
  newDF_prot = combine_df_sorted.append(newDF_prot) 


print(newDF_prot)

0
1
2
3
  drug_1 drug_2 feature_1 feature_1 feature_2 feature_2 feature_3 feature_3
0      A      B         1         2         5         6         9        10
0      B      A         2         1         6         5        10         9
0      C      D         3         4         7         8        11        12
0      D      C         4         3         8         7        12        11